Django
django-extensions
Werkzeug
PIL
Whoosh
django-annoying
-e git+https://github.com/stard0g101/django-socialregistration.git#egg=django-socialregistration
-e git+https://github.com/sorl/sorl-thumbnail.git#egg=sorl-thumbnail
-e git+https://github.com/toastdriven/django-haystack.git#egg=django-haystack
