Django
django-extensions
Werkzeug
PIL
Whoosh
-e git+https://github.com/flashingpumpkin/django-socialregistration.git#egg=django-socialregistration
-e git+https://github.com/stard0g/django-cuddlybuddly-thumbnail.git#egg=django-cuddlybuddly-thumbnail
-e git+https://github.com/toastdriven/django-haystack.git#egg=django-haystack
