{% extends 'orgchart/base.html' %}
{% load i18n orgchart_tags %}
{% block chart %}

<div class="row">
    <ul id="org" style="display:none">
    <!-- <ul> -->
        <li>
            Adcloud.com
            <ul>
            {% for o in object_list.offices %}
                <li>
                    {{ o }}
                    {% if object_list.depts %}
                    <ul>
                    {% for d in object_list.depts %}
                    <li>
                        {{ d }} 
                        {% if object_list.people %}
                        <ul>
                            {% people_list o d %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
    
</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/custom.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}base/jquery.jOrgChart.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}base/jOrgChartPrettify.css"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}base/jquery.jOrgChart.js"></script>
<script>
jQuery(document).ready(function() {
    $("#org").jOrgChart();
});
</script>
{% endblock %}