{% load i18n thumbnail %}
{% for p in people_list %}
{
	"name": "{{ p.user.get_full_name|default:p.user.username|escapejs }}",
	"first_name": "{{ p.user.first_name|escapejs }}",
	"last_name": "{{ p.user.last_name|escapejs }}",
	"profile": "{{ p.get_absolute_url }}",
	"type": "person",
	"picture": "{% thumbnail p.profile_picture "120x120" crop="center" as thumb %}{{ MEDIA_URL }}{{ thumb }}{% endthumbnail %}",
	"title": "{{ p.title }}",
	"email": "{{ p.user.email }}",
	"room_number": "{{ p.room_number }}",
	"contact_phone": "{{ p.contact_phone }}",
	"skype": "{{ p.skype }}",
	"twitter": "{{ p.twitter }}",
	"tags": [{% for s in p.skills.all %}"{{ s|escapejs }}"{% if not forloop.last %},{% endif %}{% endfor %}],
	"children": null
}{% if not forloop.last %},{% endif %}
{% endfor %}

