{% extends 'cloud9/base.html' %}
{% load i18n openid thumbnail %}

{% block content-head %}
<h1>{% trans 'A List of People' %}</h1>
{% endblock %}

{% block body %}

<ul class="unstyled table-striped">
{% for u in object_list %}
<li class="row">
    <div class="span2 pull-left">
        {% if u.profile.profile_picture %}
            {% thumbnail u.profile.profile_picture "120x120" crop="center" as thumb %}
                <a href="{% url cloud9:employee_detail slug=u.username %}"><img src="{{ MEDIA_URL }}{{ thumb }}" alt="" title="" border="0"/></a>
            {% endthumbnail %}
        {% else %}
            {% thumbnail u.profile_picture "120x120" crop="center" as thumb %}
                <a href="{% url cloud9:employee_detail slug=u.username %}"><img src="{{ MEDIA_URL }}{{ thumb }}" alt="{{ u.get_full_name|default:u.username }}" title="{{ u.get_full_name|default:u.username }}" border="0"/></a>
            {% endthumbnail %}
        {% endif %}
        <br/><a href="{% url cloud9:employee_detail slug=u.username %}">{{ u.get_full_name|default:u.username }}</a>
    </div>
	<div class="span3 pull-left">
		{% if not u.profile.dept %}{{ u.department }}{% else %}{{ u.profile.dept }}{% endif %}
		<blockquote>
		{% if u.skills %}
			{{ u.skills }}
		{% else %}
			{% for s in u.profile.skills.all %}
			{{ s }}{% if not forloop.last %},{% endif %}
			{% endfor %}
		{% endif %}
		</blockquote>
	</div>
    <div class="span2 pull-left">
        {% if not u.profile.office %}{{ u.office }}{% else %}{{ u.profile.office }}{% endif %}
        {% if u.profile.room_number or u.room_numer %}
        <br/><strong class="muted">Room:</strong>&nbsp;{% if u.profile.room_number %}{{ u.profile.room_number }}{% else %}{{ u.room_number }}{% endif %}
        {% endif %}
        {% if u.profile.contact_phone or u.contact_phone %}
        <br/><strong class="muted">No.:</strong>&nbsp;{% if u.profile.contact_phone %}{{ u.profile.contact_phone }}{% else %}{{ u.contact_phone }}{% endif %}
        {% endif %}
    </div>
</li>
{% empty %}
<li>No Results</li>
{% endfor %}
</ul>
    
{% endblock %}

