{% extends 'cloud9/base.html' %}
{% load i18n openid thumbnail cloud9_tags twitter_tags orgchart_tags markup %}

{% block title %}{% trans 'Now viewing' %} - {{ object.user.username }}{% endblock %}

{% block body %}
<div class="control-group pull-right">
{% user_can_edit %}
</div>

<div class="row span">
	<div class="span5 well pull-left">
		<h2>{% if object.user.get_full_name %}{{ object.user.get_full_name}}{% else %}{{ object.user.first_name }} {{ object.user.last_name }}{% endif %}</h2>
		<formset class="">
		{% if object.is_public %}
		<strong class="btn btn-success">{% trans 'Is Visible on Public Homepage' %}</strong><br/>
		{% endif %}
		<strong>{% trans 'Title' %}</strong><br/>{{ object.title }}<br/>
		<strong>{% trans 'Department' %}</strong><br/>{{ object.dept }}<br/>
		<strong>{% trans 'Team' %}</strong><br/>{{ object.team_name }}<br/>
		<strong>{% trans 'Email' %}</strong><br/><a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a><br/>
		<strong>{% trans 'Office' %}</strong><br/>{{ object.office|default:"-" }}<br/>
		<strong>{% trans 'Skype' %}</strong><br/>{{ object.skype|default:"-" }}<br/>
		<strong>{% trans 'Twitter' %}</strong><br/>{{ object.get_twitter_username|default:"adcloud"|twitterize }}<br/>
		<strong>{% trans 'Contact Phone' %}</strong><br/>{{ object.contact_phone|default:"-" }}<br/>
		</formset>
		{% if object.bio %}
		<formset>
			{{ object.bio|markdown:"safe" }}
		</formset>
		{% endif %}
		{% if object.skills %}
		<formset>
			<h3>{% trans 'Tags' %}</h3>
			<blockquote>
			{% for s in object.skills.all %}
			{{ s }}{% if not forloop.last %},{% endif %}
			{% endfor %}
			</blockquote>
		</formset>
		{% endif %}
		<!-- <h3>Email Signature</h3> -->
		<!-- <div id="user-signature" class=""></div> -->
	</div>
</div>

<form class="span3 well pull-right">
    {% thumbnail object.profile_picture "270x300" crop="center" as thumb %}
        <img src="{{ MEDIA_URL }}{{ thumb }}" alt="" title="" border="0"/>
    {% endthumbnail %}
	{% if object.skype %}
	<form class="span3 well pull-right">
		<!--
		Skype 'My status' button
		http://www.skype.com/go/skypebuttons
		-->
		<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
		<a href="skype:{{ object.skype }}?call"><img src="http://mystatus.skype.com/balloon/{{ object.skype }}" style="border: none;" width="150" height="60" alt="My status" /></a>
	</form>
	{% endif %}
</form>

{% endblock %}


{% block css %}
<style>
	
	.border{
		border:solid #c00 1px;
	}
	
	div#user-signature {
		width:90%;
	}
	div#user-signature textarea{
	width:90%;	
	}
</style>{% endblock %}

{% block js %}

<script type="text/javascript">
$(document).ready(function() {
	var source   = $("script#people_signature").html();
	var signature_template = Handlebars.compile(source);
	var ob = $.parseJSON($('script#people_list').html());
	html = signature_template(ob);
	$('#user-signature').html(html);
});
</script>

<script type="text/json" id="people_list">
{% person_profile_json object %}
</script>

<script type="text/json" id="people_signature">
<textarea style="width:100%;height:320px;">
{% verbatim %}
{{first_name}}
-- 
*** Adcloud steigt in den mobilen Werbemarkt ein: http://adcloud.com/de/presse/adcloud-macht-mobil/ ***
--------------------------------------------------------------------------------------------------------
{{name}} · {{title}}

Adcloud GmbH · Venloer Str. 25 · D-50672 Köln
Ein Unternehmen von Deutsche Post DHL 

{{#if contact_phone}}T  {{contact_phone}}{{/if}}
{{email}}  · www.adcloud.com

Handelsregister: Amtsgericht Köln, HRB 65770 · Sitz der Gesellschaft: Köln · Geschäftsführer: Henning Lange, Oliver Thylmann
{% endverbatim %}
</textarea>
</script>
{% endblock %}
