{% extends 'cloud9/base.html' %}
{% load i18n openid thumbnail %}

{% block content-head %}
<h1>{% trans 'A List of People' %}</h1>
{% endblock %}

{% block body %}

<table class="table table-striped">
{% for u in object_list %}
<tr>
    <td class="span2">
        {% if u.profile.profile_picture %}
            {% thumbnail u.profile.profile_picture "120x120" crop="center" as thumb %}
                <a href="{% url cloud9:employee_detail slug=u.username %}"><img src="{{ MEDIA_URL }}{{ thumb }}" alt="" title="" border="0"/></a>
            {% endthumbnail %}
        {% else %}
            {% thumbnail u.profile_picture "120x120" crop="center" as thumb %}
                <a href="{% url cloud9:employee_detail slug=u.username %}"><img src="{{ MEDIA_URL }}{{ thumb }}" alt="" title="" border="0"/></a>
            {% endthumbnail %}
        {% endif %}
    </td>
    <td class="span4"><a href="{% url cloud9:employee_detail slug=u.username %}">{{ u.get_full_name|default:u.username }}</a></td>
	<td class="span6">
		{% if not u.profile.dept %}{{ u.department }}{% else %}{{ u.profile.dept }}{% endif %}
		{% if u.profile.skills %}
		<blockquote>
		{% for s in u.profile.skills.all %}
		{{ s }}{% if not forloop.last %},{% endif %}
		{% endfor %}
		</blockquote>
		{% endif %}
	</td>
    <td>{% if not u.profile.office %}{{ u.office }}{% else %}{{ u.profile.office }}{% endif %}</td>
</tr>
{% empty %}
<tr><td>No Results</td></tr>
{% endfor %}
</table>
    
{% endblock %}

