{% extends 'cloud9/base.html' %}
{% load i18n openid thumbnail cloud9_tags %}

{% block title %}{% trans 'Now viewing' %} - {{ object.username }}{% endblock %}

{% block body %}
<div class="control-group pull-right">
{% user_can_edit %}
</div>

<div class="row span">
<div class="span7 well pull-left">
<h2>{% if object.get_full_name %}{{ object.get_full_name}}{% else %}{{ object.first_name }} {{ object.last_name }}{% endif %}</h2>
<formset class="">
<strong>{% trans 'Username' %}</strong><br/>{{ object.username }}<br/>
<strong>{% trans 'Email' %}</strong><br/><a href="mailto:{{ object.email }}">{{ object.email }}</a><br/>
<strong>{% trans 'Department' %}</strong><br/>{{ object.profile.dept }}<br/>
<strong>{% trans 'Office' %}</strong><br/>{{ object.profile.office|default:"-" }}<br/>
<strong>{% trans 'Contact Phone' %}</strong><br/>{{ object.profile.contact_phone|default:"-" }}<br/>
<formset>
</div>
</div>

<form class="span3 well pull-right">
    {% thumbnail object.profile.profile_picture "270x300" crop="center" as thumb %}
        <img src="{{ MEDIA_URL }}{{ thumb }}" alt="" title="" border="0"/>
    {% endthumbnail %}
</form>
{% endblock %}


{% block css %}
<style>
	
	.border{
		border:solid #c00 1px;
	}
	
</style>{% endblock %}