{% extends 'cloud9/base.html' %}
{% load i18n thumbnail %}

{% block title %}{% trans 'Edit your Account' %}{% endblock %}

{% block body %}
<div class="row span">
	<form enctype="multipart/form-data" action="." class="span5 well" method="post">{% csrf_token %}
		<h2>{% trans 'Edit your Account' %}</h2>
		<formset>
	    <table>
	        {{ form.as_table }}
	    </table>
		</formset>
		<div class="form-actions">
		<button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>
		<button id="signup-cancel" class="btn">{% trans 'Cancel' %}</button>
		</div>
	</form>
	<form class="span3 well pull-right">
        {% thumbnail form.profile_picture.value "270x300" crop="center" as thumb %}
            <img src="{{ MEDIA_URL }}{{ thumb }}" alt="" title="" border="0"/>
        {% endthumbnail %}
	</form>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){

	$('#signup-cancel').live('click', function(event) {
		event.preventDefault();
		document.location = '{% url cloud9:employee_detail slug=form.username.value %}';
	});

});
</script>
{% endblock %}